.product-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.product-detail-image {
  display: flex;
  justify-content: center;
}

.ant-select {
  width: 200px !important;
}

@media (max-width: 950px) {
  .ant-select {
    width: 100% !important;
  }
}


@media (max-width: 700px) {
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ant-statistic-content-value {
    font-size: 0.85rem;
  }

  .ant-select {
    width: 100% !important;
  }
}
