.container-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-shoppingcard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* @media screen and (min-width: 250px) {
  .container-title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  .container-shoppingcard {
    display: block;
    flex-direction: row;
    flex-grow: 1;
  }
} */
